@model IEnumerable<StairEstate.Entity.hr_employee>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hr_employee_type.emp_type_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sys_branch.branch_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_father_or_husband_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_mother_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_permanent_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_present_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_birth_place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deleted)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hr_employee_type.emp_type_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sys_branch.branch_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_father_or_husband_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_mother_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_permanent_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_present_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_birth_place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deleted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.emp_id }) |
                @Html.ActionLink("Details", "Details", new { id=item.emp_id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.emp_id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
